<!doctype html>
<html>
<head>
	<title>:: Ol' ::</title>
	<meta charset="utf-8">
	<meta name="author" content="kshirish">
	<meta name="description" content="social"> 
	<meta name="keywords" content="social">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>

	<!-- app name -->
    <h1>Ol'</h1>
	
	<!-- app info -->
    <div class="app-info">
		<p>It is a common spot to access your all social feeds, therefore you can sit you couch/pot and scroll through feeds all day. Unfortunately, you cannot post anything from here.</p>
		<i> [Anyways you hardly do.]</i>
    </div>

    <!-- social logins -->
    <div class="social-logins">
		<a class="fa fa-twitter animation" href="/auth/twitter"></a>
	  	<a class="fa fa-instagram animation" href="/auth/twitter"></a>
	  	<a class="fa fa-facebook animation" href="#"></a>
	</div>

</div>
<script src="/javascripts/jquery/dist/jquery.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
	
		// var delayTime = 1600;
		// var socialIcons = ['twitter', 'instagram', 'facebook'];
		// var el = $('span.fa');
		// var	flag = false;

		// (function animationFun(index) {

		// 	setTimeout(function() {

		// 		if(flag) {
		// 			el.removeClass('fa-' + socialIcons[index] + ' expandOpen');
		// 			index++;
		// 		} else {
		// 			el.addClass('fa-' + socialIcons[index] + ' expandOpen');
		// 		}
				
		// 		flag = !flag;

		// 		socialIcons.length !== index && animationFun(index);

		// 	}, delayTime);

		// })(0);			

	});

</script>
</body>
</html>
