<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>:: Ol' ::</title>
	<meta charset="utf-8">
	<meta name="author" content="kshirish">
	<meta name="description" content="social"> 
	<meta name="keywords" content="social">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>

	<h1>Ol'</h1>
	
	<div id="social-list"></div>	

	<!-- twitter item template -->
	<script id="twitter-item-template" type="text/x-handlebars-template">
		{{#each results}}
			<div class="social-item">
				<i class="fa fa-twitter"></i>
				<div class="user-image">
					<img src="{{profile_image_url}}" alt="user image"/>
				</div>	
				<div class="userinfo-container">

					<ul class="userinfo-topbar">
						<li>@{{screen_name}}</li>
						<li>{{name}}</li>
						<li>{{created_at}}</li>
					</ul>

					<div class="userinfo-content">
						<p>{{text}}</p>	
					</div>

					<ul class="userinfo-bottombar">
						<li>{{retweet_count}} <i class="fa fa-retweet"></i></li>
						<li>{{favorite_count}} <i class="fa fa-star"></i></li>
						<li>{{location}} <i class="fa fa-map-marker"></i></li>
					</ul>
				</div>
			</div>
		{{/each}}
	</script>

	<script src="/javascripts/jquery/dist/jquery.js"></script>
	<script src="/javascripts/handlebars/handlebars.js"></script>
	<script type="text/javascript">

		$(document).ready(function(){
	
			var source   = $("#twitter-item-template").html();
			var template = Handlebars.compile(source);
			var listContainer = $('#social-list');

			$.get('/api/twitter', function(response) {
				// append data to html
				listContainer.append(template(response));
			});
		});
	
	</script>


</body>
</html>