<!doctype html>
<html>
<head>
	<title>:: Ol' ::</title>
	<meta charset="utf-8">
	<meta name="author" content="kshirish">
	<meta name="description" content="social"> 
	<meta name="keywords" content="social">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>

	<h1>Ol'</h1>
	
	<div id="social-list"></div>	

	<!-- twitter item template -->
	<script id="twitter-item-template" type="text/x-handlebars-template">
		{{#each results}}
			<div class="social-item twitter">
				<i class="fa fa-twitter"></i>
				<div class="user-image">
					<img src="{{profile_image_url}}" alt="user image"/>
				</div>	
				<div class="userinfo-container">

					<ul class="userinfo-topbar">
						<li>@{{screen_name}}</li>
						<li>{{name}}</li>
						<li>{{created_at}}</li>
					</ul>

					<div class="userinfo-content">
						<p>{{text}}</p>	
					</div>

					<ul class="userinfo-bottombar">
						<li>{{retweet_count}} <i class="fa fa-retweet"></i></li>
						<li>{{favorite_count}} <i class="fa fa-star"></i></li>
						<li>{{location}} <i class="fa fa-map-marker"></i></li>
					</ul>
				</div>
			</div>
		{{/each}}
	</script>

	<!-- instagram item template -->
	<script id="instagram-item-template" type="text/x-handlebars-template">
		{{#each results}}
			<div class="social-item instagram">
				<i class="fa fa-instagram"></i>
				<div class="user-image">
					<img src="{{profile_picture}}" alt="user image"/>
				</div>	
				<div class="userinfo-container">

					<ul class="userinfo-topbar">
						<li>@{{username}}</li>
						<li>{{full_name}}</li>
						<li>{{created_at}}</li>
					</ul>

					<div class="userinfo-content">
						<img src="{{image_url}}" alt="image"/>	
					</div>

					<ul class="userinfo-bottombar">
						<li>{{likes_count}} <i class="fa fa-heart"></i></li>
						<li>{{comments_count}} <i class="fa fa-comments"></i></li>
						<li>{{location}} <i class="fa fa-map-marker"></i></li>
					</ul>
				</div>
			</div>
		{{/each}}
	</script>

	<script src="/javascripts/jquery/dist/jquery.js"></script>
	<script src="/javascripts/handlebars/handlebars.js"></script>
	<script type="text/javascript">

		$(document).ready(function(){

			var source;
			var template;
			var listContainer = $('#social-list');
			var serviceUrl;

			if(sessionStorage.getItem('social') === 'TWITTER') {

				serviceUrl = '/api/twitter';
				source = $("#twitter-item-template").html();

			} else if(sessionStorage.getItem('social') === 'INSTAGRAM') {

				serviceUrl = '/api/instagram';
				source = $("#instagram-item-template").html();

			} else {

				window.location.href = '/';	// redirect to homepage
				
			}

			template = Handlebars.compile(source);

			$.get(serviceUrl, function(response) {
				listContainer.append(template(response));	// append data to html
			});
		});
	
	</script>


</body>
</html>