/********************************/
/*******Basic Settings***********/
/********************************/
body {
	font-family: 'Roboto', sans-serif;
	width: 90%;
	margin: 0 auto;
}
a {
  text-decoration: none;
}
li {
	list-style: none;
}
img {
  width: 100%;
}
ul, li {
    margin: 0;
    padding: 0;
}
/********************************/
/********************************/
/********************************/
h1 {
	text-align: center;
  padding: 20px;
  border: 1px solid #e1e8ed;
}
.user-image {
    width: 70px;
    float: left;
}
.userinfo-topbar li {
    display: inline-block;
    padding-right: 10px;
    font-weight: bold;
}
.userinfo-container {
    display: table-cell;
    padding-left: 20px;
    text-align: left;
}
.social-item {
    clear: both;
    padding: 20px;
    border: 1px solid #e1e8ed;
    border-bottom: 0;
    position: relative;
}
.userinfo-bottombar li {
    display: inline-block;
    padding-right: 10px;    
    font-weight: bold;
}
.userinfo-topbar, .userinfo-bottombar {
    font-size: 13px;
    text-transform: capitalize;
}
#social-list {
    padding: 20px 0;
}
.social-item:last-child {
    border-bottom: 1px solid #e1e8ed;
}
.social-tag.twitter {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI1MTIiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB3aWR0aD0iNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOmNjPSJodHRwOi8vY3JlYXRpdmVjb21tb25zLm9yZy9ucyMiIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgeG1sbnM6aW5rc2NhcGU9Imh0dHA6Ly93d3cuaW5rc2NhcGUub3JnL25hbWVzcGFjZXMvaW5rc2NhcGUiIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyIgeG1sbnM6c29kaXBvZGk9Imh0dHA6Ly9zb2RpcG9kaS5zb3VyY2Vmb3JnZS5uZXQvRFREL3NvZGlwb2RpLTAuZHRkIiB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZGVmcyBpZD0iZGVmczEyIi8+PGcgaWQ9ImczNzYzIj48cmVjdCBoZWlnaHQ9IjUxMiIgaWQ9InJlY3QyOTg3IiBzdHlsZT0iZmlsbDojMDBhYmYxO2ZpbGwtb3BhY2l0eToxO2ZpbGwtcnVsZTpub256ZXJvO3N0cm9rZTpub25lIiB3aWR0aD0iNTEyIiB4PSIwIiB5PSIwIi8+PGcgaWQ9ImxheWVyMV8yXyIgdHJhbnNmb3JtPSJtYXRyaXgoMS40MTg0ODUsMCwwLDEuNDE4NDg1LC01MDcuNjIzNjcsLTY1MS4zMzE4KSI+PHBhdGggZD0ibSA2NzkuMzMzLDU1Mi4xOSBjIC0xMC4zNzUsNC42MDQgLTIxLjUyMSw3LjcxMSAtMzMuMjI0LDkuMTExIDExLjkzOSwtNy4xNiAyMS4xMTQsLTE4LjUwMSAyNS40MzYsLTMyLjAwNCAtMTEuMTc4LDYuNjMgLTIzLjU2MywxMS40MzkgLTM2Ljc0NCwxNC4wMzUgLTEwLjU0NywtMTEuMjQ2IC0yNS41ODgsLTE4LjI2OSAtNDIuMjIzLC0xOC4yNjkgLTMxLjk1MywwIC01Ny44NTksMjUuOTA2IC01Ny44NTksNTcuODU1IDAsNC41MzMgMC41MTMsOC45NDYgMS41MDEsMTMuMTg2IC00OC4wODUsLTIuNDE5IC05MC43MSwtMjUuNDQ2IC0xMTkuMjQ1LC02MC40NTQgLTQuOTgxLDguNTQ1IC03LjgzMywxOC40OCAtNy44MzMsMjkuMDg5IDAsMjAuMDcyIDEwLjIxLDM3Ljc3NyAyNS43MzUsNDguMTUyIC05LjQ3OSwtMC4zMDIgLTE4LjM5OCwtMi45MDIgLTI2LjIwNCwtNy4yMzQgLTAuMDAzLDAuMjM4IC0wLjAwMywwLjQ4MiAtMC4wMDMsMC43MjYgMCwyOC4wMjkgMTkuOTQ0LDUxLjQxIDQ2LjQwNyw1Ni43MzQgLTQuODU1LDEuMzE1IC05Ljk2OCwyLjAyNyAtMTUuMjM4LDIuMDI3IC0zLjczMywwIC03LjM1NCwtMC4zNzMgLTEwLjg4MywtMS4wNDEgNy4zNiwyMi45OCAyOC43MjgsMzkuNzA5IDU0LjAzOSw0MC4xNzYgLTE5Ljc5NSwxNS41MiAtNDQuNzQyLDI0Ljc3IC03MS44NTQsMjQuNzcgLTQuNjY1LDAgLTkuMjcsLTAuMjc1IC0xMy43OTksLTAuODE2IDI1LjYwOSwxNi40MjIgNTYuMDE4LDI2LjAwMSA4OC42ODgsMjYuMDAxIDEwNi40MTIsMCAxNjQuNjA2LC04OC4xNTYgMTY0LjYwNiwtMTY0LjYwNiAwLC0yLjUxNCAtMC4wNTgsLTUuMDA3IC0wLjE2NSwtNy40OSAxMS4yOTUsLTguMTU5IDIxLjExLC0xOC4zNDQgMjguODYyLC0yOS45NDggbCAwLDAgeiIgaWQ9InBhdGg1XzFfIiBzdHlsZT0iZmlsbDojZmZmZmZmIi8+PC9nPjwvZz48L3N2Zz4=);
  position: absolute;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: -16px;
}
i.fa.fa-twitter, i.fa.fa-instagram {
  position: absolute;
  top: 0;
  left: -16px;
  color: white;
  width: 16px;
  font-size: 13px;
  padding-top: 2px;
  padding-left: 2px;
  height: 16px;
  box-sizing: border-box;
}
i.fa.fa-twitter {
  background-color: rgb(32, 184, 254);  
}
i.fa.fa-instagram {
  background-color: rgb(254, 32, 167);  
}
.instagram .userinfo-content {
  margin: 20px 0; 
}
.instagram .userinfo-content img{
  border: 10px solid;
  box-sizing: border-box;
}
/*
==============================================
animation
==============================================
*/
.animation{
  animation-name: animation;
  -webkit-animation-name: animation; 

  animation-duration: 1.2s; 
  -webkit-animation-duration: 1.2s;

  animation-timing-function: ease-out;  
  -webkit-animation-timing-function: ease-out;  

  visibility: visible !important; 
}

@keyframes animation {
  0% {
    transform: scale(1.8);    
  }
  50% {
    transform: scale(0.95);
  } 
  80% {
    transform: scale(1.05);
  }
  90% {
    transform: scale(0.98);
  } 
  100% {
    transform: scale(1);
  }     
}

@-webkit-keyframes animation {
  0% {
    -webkit-transform: scale(1.8);    
  }
  50% {
    -webkit-transform: scale(0.95);
  } 
  80% {
    -webkit-transform: scale(1.05);
  }
  90% {
    -webkit-transform: scale(0.98);
  } 
  100% {
    -webkit-transform: scale(1);
  }         
}
a.animation {
  font-size: 5em;
  display: block;
  text-align: center;
  width: 33.33%;
  float: left;
}
.animation.fa-twitter {
  color: #00BEF2;
}
.animation.fa-instagram {
  color: brown;
}
.animation.fa-facebook {
  color: #21356B;
}
.login {
  color: green; 
  font-size: 2em;
  position: absolute;
  top: -100px;
}
.app-info {
  text-align: center;
  border-bottom: 1px solid #e1e8ed;
  padding: 20px 0;
  font-size: 20px;
}
.app-info p {
  width: 60%;
  margin: 0 auto;  
}
.social-logins {
  overflow: hidden;
  padding: 20px 0;
}
@media (min-width: 700px) {
	body {
		width: 70%;	
	}
  a.animation {
    font-size: 10em;
  }
}
@media (min-width: 1000px) {
	body {
		width: 60%;	
	}
}
@media (min-width: 1200px) {
	body {
		width: 50%;	
	}
}
